.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: #15202b; 
  padding: 2rem;

}
.text-container{
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  box-sizing: border-box;
  color: white;
}
.text-container .words-char{
  font-size: large;
  margin-top: 10px;
}
h1 {
  color: #ffffff; 
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  width: 100%;

  min-width: 300px;
  height: 200px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #38444d;
  font-size: 1rem;
  background-color: #192734;
  color: #e6e9ea;
  resize: none;
  outline: none;
  transition: border 0.3s ease;
  box-sizing: border-box;
}

textarea:focus {
  border-color: #1d9bf0;
}



.button-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #1d9bf0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #1a8cd8; 
  transform: translateY(-2px);
}
div p{
  margin-top: 20px;
  font-size: larger;
}
.output {
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  height: 100%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: #192734;
  color: #e6e9ea;
  font-size: 1rem;
  border: 1px solid #38444d;
  white-space: pre-wrap;
}
.counter-container{
  margin-top: 30px;
  font-size: larger;
}